.styled-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: var(--font-main);
}
.styled-table thead tr {
    background-color: var(--color-maroon-main);
    color: white;
    text-align: left;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.transaction-container {
    width: 100% !important;     /* चौड़ाई पूरी रखें */
    margin-top: 20px;           /* ऊपर से जगह दें */
    display: block;             /* इसे ब्लॉक बनाएं ताकि यह अपनी अलग लाइन ले */
    clear: both;                /* किसी भी फ्लोटिंग एलिमेंट को साफ़ करे */
}
