.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-main);
}
.styled-table thead tr {
    background-color: var(--color-maroon-main);
    color: white;
    text-align: left;
}
.styled-table th, .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}
